.sidebar {
  width: 120px;
  background: #222;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  margin-bottom: 12px;
  font-size: 1.2rem;
  border-bottom: 1px solid #555;
  border-right: 1px solid #645151;
  padding-bottom: 4px;
}

.button {
  background: #444;
  width: 80px;
  color: #fff;
  border: none;
  padding: 8px;
  text-align: left;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  background: #666;
}

.active {
  background: green;
}
