*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    gap: 10px;
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: ;
}
.container div{
    background-color: blanchedalmond;
}
.box2{
    grid-row: 1;
    grid-column: 4;
}