/* body,html{
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  background: #cab4b4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.bodyContainer {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  background: #cab4b4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}